.templates-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 4rem;
}
.templates-buttons button {
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  background-color: #f9f9f9;
  color: #202020;
  border-radius: 38px;
  font-family: PPTelegraf-Ultrabold;
  font-size: 13px;
}
.templates-buttons button.active {
  background-color: #0047ff;
  color: #fff;
}
.templates-bgimg {
  background-image: url(../img/bigVector.avif);
  background-color: #f9f9f9;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.templates-bgimg h1 {
  font-family: PPTelegraf-Ultrabold;
  font-size: 40px;
  color: #202020;
  margin: 5rem 0 2rem 0;
}
.templates-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10rem;
}
.templates-carousel-image {
  max-width: 440px;
  height: 100%;
  cursor: pointer;
}
.templates-carousel-image-wrapper {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 1rem 1rem 0 1rem;
}
.templates-hover-overlay {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 29%;
  background-color: #fff;
  display: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  transition: display 0.3s;
  display: hidden;
  align-items: center;
}
.templates-hover-overlay .templates-info-left {
  flex: 1;
}
.templates-hover-overlay .templates-info-right {
  margin-left: auto;
}
.templates-carousel-image-wrapper:hover .templates-hover-overlay {
  display: flex;
}
.templates-website-type {
  font-size: 15px;
  font-family: PPTelegraf-Regular;
  color: #202020;
  opacity: 60%;
  position: absolute;
  top: 2rem;
}
.templates-info-left span {
  font-family: PPTelegraf-Ultrabold;
  color: #202020;
  font-size: 24px;
  position: absolute;
  font-weight: 800;
}
@media only screen and (max-width: 1024px) {
  .templates-bgimg {
    background-image: url(../img/smallVector.avif) !important;
  }
}
